body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/tumblr_55ba20e0e1c28b3c619224f05ddd55d1_d878a886_1280.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box p {
    padding: 20px;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.button-container {
    display: flex;
}

.button-box {
    padding: 20px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
